@use '/src/utils/variables' as vars;

.wrap-introduction-section {
  background-image: url('../../assets/images/introduction.png');
  background-repeat: no-repeat;
  height: 600px;
  background-size: 100% 100%;
  position: relative;
  padding-top: 140px;
  font-family: vars.$main-font-family;
  @media (max-width: vars.$breakpoint-tablet) {
    background-position: -985px;
    background-size: cover;
  }

  .content {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
      111.41deg,
      rgba(37, 53, 88, 0.6) -63.93%,
      rgba(47, 9, 22, 0.46014) 47.47%,
      rgba(0, 0, 0, 0) 112.03%
    );

    .container {
      padding-top: 140px;
      * {
        color: vars.$primary-text-color;
        font-weight: 700;
        text-align: center;
        margin-bottom: 5px;
        margin-top: 0px;
      }
      .introduction-title {
        font-size: vars.$xxxl-font-size;
        padding: 0px 25px;

        @media (max-width: vars.$breakpoint-tablet) {
          font-size: vars.$lg-font-size;
          margin-bottom: 15px;
        }
      }
      .introduction-subtitle {
        font-size: vars.$xl-font-size;
        font-weight: 500;
        @media (max-width: vars.$breakpoint-tablet) {
          font-size: vars.$sm-font-size;
        }
      }
    }
  }
}
