$primary-color: #00b67a;

$primary-text-color: #fff;
$secondary-text-color: #454557;
$notice-text-color: #ff5958;

$primary-background-color: #fff;

$xs-font-size: 12px;
$sm-font-size: 16px;
$md-font-size: 20px;
$lg-font-size: 26px;
$xl-font-size: 32px;
$xxl-font-size: 48px;
$xxxl-font-size: 56px;

$main-font-family: RedHatDisplay;

$breakpoint-tablet: 992px;
