@use '/src/utils/variables' as vars;

.wrap-prices-section {
  @media (max-width: vars.$breakpoint-tablet) {
    top: -175px;
    position: relative;
  }
  .wrap-prices {
    display: flex;
    justify-content: space-between;

    @media (max-width: vars.$breakpoint-tablet) {
      flex-direction: column-reverse;
    }
  }
}
