@use '/src/utils/variables' as vars;

.wrap-prices-section {
  margin-bottom: 100px;
  @media (max-width: vars.$breakpoint-tablet) {
    // top: -175px;
    // position: relative;
    margin-bottom: 30px;
  }
  .wrap-prices {
    display: flex;
    justify-content: space-between;

    @media (max-width: vars.$breakpoint-tablet) {
      flex-direction: column-reverse;
    }
  }
}
